.main-login-box {
  position: absolute;
  top: 46%;
  left: 62%;
  margin-top: -160px;
  padding: 30px 50px;
  width: 450px;
  min-height: 280px;
  box-sizing: border-box;
  border: 1px solid #467cf3;
  background: #0e2851;
  //opacity: 0.8;
  border-radius: 10px;
  z-index: 99;
  .login-type-wrap {
    .el-tabs__header {
      .el-tabs__nav {
        margin-left: 75px;
      }
      .el-tabs__item {
        width: 100px;
        height: 70px !important;
        line-height: normal;
        > span {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          color: #c0c4cc;
          i {
            display: block;
            font-size: 32px;
          }
        }
      }
      .el-tabs__item.is-active {
        > span {
          color: #467cf3;
        }
      }
    }
  }
  .login-password-wrap {
    > span {
      display: inline-block;
      width: 100%;
      font-size: 22px;
      color: #fff0f0;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  .el-form {
    .el-form-item {
      height: 50px;
      line-height: 50px;
      margin-bottom: 18px;
      &:nth-child(1),
      &:nth-child(2) {
        border: 1px solid #467cf3;
        .el-form-item__content {
          display: flex;
          line-height: 50px !important;

          i {
            height: 50px;
            line-height: 50px;
            padding: 0 8px;
            color: white;
            font-size: 22px;
          }
          .el-input {
            height: 50px;
            line-height: 50px;
            .el-input__inner {
              height: 50px;
              line-height: 50px;
              border: none;
              background-color: transparent;
              color: #ffffff;
            }
          }
          .input_set .el-input__inner:-webkit-autofill {
            //input 背景色
            -webkit-box-shadow: 0 0 0px 1000px #0e2851 inset !important;
            //input字体颜色 颜色根据自己要求替换
            -webkit-text-fill-color: #ffffff !important;
          }
          .getCode {
            padding: 8px;
            color: #467cf3;
          }
        }
      }
    }
  }

  .rememberpassword {
    .el-checkbox__label {
      color: #ffffff;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner {
      background-color: #557cec;
      border-color: #557cec;
    }
    .el-checkbox__input.is-checked + .el-checkbox__label {
      color: #557cec;
    }
    .registerbtn {
      float: right;
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #ffffff;
      cursor: pointer;
    }
  }
  .loginbtn {
    margin-top: 10px;
    .el-button {
      width: 100%;
      height: 47px !important;
      line-height: 47px !important;
      background: #467cf3;
      border-radius: 4px;
      color: white;
      font-size: 18px;
      padding: 0;
    }
  }
}